/* Estilos globales */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
    background-image: url("https://i.blogs.es/b664eb/amazon/1366_2000.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}

a {
    color: #000;
    text-decoration: none;
}

/* Encabezado */
header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    background-color: black;
    color: #FFF;
    
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    color: #FFF;
    font-weight: bold;
}

nav ul li a:hover {
    text-decoration: underline;
}

header h1 {
    font-size: 40px;
    font-weight: bold;
    margin-bottom: 20px;
}

header form {
    display: flex;
    margin-right: 20px;
}

header form input[type="text"] {
    flex-grow: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

header form button[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

header ul {
    list-style: none;
    display: flex;
}

header ul li {
    margin-right: 20px;
}

header ul li a {
    color: #FFF;
}

header ul li a:hover {
    text-decoration: underline;
}

/* Contenido principal */
main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

section {
    margin-bottom: 40px;
}

section h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

section ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
}

section ul li {
    width: calc(100% / 3 - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    background-color: #EEE;
    padding: 20px;
    border-radius: 5px;
}

section ul li a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

section ul li a:hover {
    background-color: #DDD;
}

section ul li img {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

section ul li h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

section ul li p {
    margin-bottom: 10px;
}

section ul li span {
    font-size: 24px;
    font-weight: bold;
}

/* Pie de página */
footer {
    background-color: #333;
    color: #FFF;
    padding: 20px;
    text-align: center;
}

/* Estilos del carrito */
.carrito {
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    }
    
    .carrito h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    .carrito table {
    width: 100%;
    border-collapse: collapse;
    }
    
    .carrito th {
    background-color: #EEE;
    padding: 10px;
    text-align: left;
    }
    
    .carrito td {
    padding: 10px;
    border-bottom: 1px solid #CCC;
    }
    
    .carrito td:last-child {
    text-align: right;
    }
    
    .carrito .eliminar {
    color: #FF0000;
    cursor: pointer;
    }
    
    .carrito .eliminar:hover {
    text-decoration: underline;
    }
    
    .carrito .total {
    font-size: 24px;
    font-weight: bold;
    text-align: right;
    }
    
    /* Estilos del checkout */
    .checkout {
    margin-top: 20px;
    border: 1px solid #CCC;
    border-radius: 5px;
    padding: 20px;
    background-color: rgb(56, 235, 251);
    }
    
    .checkout h1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    }
    
    .checkout label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
    }
    
    .checkout input[type="text"],
    .checkout select {
    width: 100%;
    padding: 10px;
    border: 1px solid #CCC;
    border-radius: 5px;
    margin-bottom: 20px;
    }
    
    .checkout input[type="submit"] {
    padding: 10px;
    background-color: #333;
    color: #FFF;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }
    
    .checkout input[type="submit"]:hover {
    background-color: #444;
    }
    
    .checkout .error {
    color: #FF0000;
    margin-bottom: 10px;
    }
    
    

